
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

main{
  min-height: 300px;
}

@each $key, $color in $colors {
  .bg-#{$key}{
    background-color: $color !important;
  }

  .text-#{$key}{
    color: $color !important;
  }

  .btn-#{key}{
    background-color: $color !important;
  }
}

.slider-editor{
  position: relative;
  margin: auto;
  overflow-x: scroll;
  white-space: nowrap;
  *{
      white-space: initial;
  }
  .card{
      display: inline-block;
      width: 40%;
      min-width: 200px;
  }
}

#app{
  overflow-x: hidden;
}


.pill{
  border-radius: 15px;
  border: 1px solid rgba(255, 109, 109, 0.637);
  overflow: hidden;
  box-sizing: border-box;
  .date{
      padding: 10px;
      background-color: rgba(255, 109, 109, 0.637);
      margin-right: 15px;
      box-sizing: border-box;
      b{
          font-size: 3em;
          display: inline-block;
      }
      span{
          display: inline-block;
      }
  }
}

.carousel-indicators{
  & > li{
    background-color: white;
    border: 1px solid black;
    &.active{
      background-color: black;
      border: 1px solid white;
    }
  }
}

.notice > p{
  mix-blend-mode: difference;
  color: white;
}

//Checkboxes
.checkbox-group {
  background-color: #fff;
  display: block;
  margin: 10px 0;
  position: relative;

  label {
    border-radius: 20px;
    padding: 12px 30px;
    width: 100%;
    display: block;
    text-align: left;
    color: #3C454C;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;

    &:before {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      content: '';
      background-color: lighten($indigo, 20);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale3d(1, 1, 1);
      transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
      opacity: 0;
      z-index: -1;
    }

    &:after {
      width: 32px;
      height: 32px;
      content: '';
      border: 2px solid #D1D7DC;
      background-color: #fff;
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
      background-repeat: no-repeat;
      background-position: 2px 3px;
      border-radius: 50%;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      transition: all 200ms ease-in;
    }
  }

  input:checked ~ label {
    color: #fff;

    &:before {
      transform: translate(-50%, -50%) scale3d(56, 56, 1);
      opacity: 1;
    }

    &:after {
      background-color: $blue;
      border-color: $blue;
    }
  }

  input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
  }
}

nav.navbar {
  background-color: #CC1414 !important; 
  a{
    color: white;
  }
}