/* h3{
  font-size: 200%;
}
p {
  margin-top: 3%;;
  text-align: left;
  font-size: 120%;
}
button {
  text-align: center;
  margin: 1% auto 2% 81%;
}
hr {
    background-color:red;
    display: block;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1%;
} */
