/*Estilo de agrupaciones*/
@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Merriweather|Old+Standard+TT|Playfair+Display');
h2, h6{
  font-family: 'Merriweather', serif;
  text-align: center;
}
p {
  font-family: 'Old Standard TT', serif;
}
h4{
  font-family: 'Playfair Display', serif;
}
h3 {
  font-family: 'EB Garamond', serif;
}
